giQtProject/libraries/macos/ffmpeg-arm/ffmpeg-universalized-libs/lib/libavcodec.a filter=lfs diff=lfs merge=lfs -text
QtProject/libraries/macos/ffmpeg-arm/ffmpeg-universalized-libs/lib/libavformat.a filter=lfs diff=lfs merge=lfs -text
*.a filter=lfs diff=lfs merge=lfs -text
